@import "tailwindcss";

@theme {
  --color-background: #fbfaf9;
  --color-foreground: #171717;
  --color-primary: #e16540;
  --font-sans: var(--font-dm-sans);
}

:root {
  --background: #fbfaf9;
  --foreground: #171717;
}

body {
  background-color: var(--background);
  color: var(--foreground);
}
